{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:flowtype/recommended",
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["graphql", "simple-import-sort", "smells"],
    "rules": {
        "linebreak-style": ["error", "unix"],
        "no-console": 1,
        "flowtype/generic-spacing": 0,
        "flowtype/space-after-type-colon": 0,
        "smells/no-switch": 1,
        "smells/no-complex-switch-case": 1,
        "smells/no-setinterval": 1,
        "smells/no-this-assign": 1,
        "smells/no-complex-string-concat": 1,
        "sort-imports": 0,
        "import/order": 0,
        "simple-import-sort/imports": 1,
        "simple-import-sort/exports": 1
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        },
        "react": {
            "version": "17.0"
        }
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    }
}
