{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-css-modules",
        "stylelint-config-prettier"
    ],
    "rules": {
        "indentation": 4,
        "unit-allowed-list": [
            ["rem", "em", "%", "vh", "vw", "s", "deg"],
            {
                "ignoreProperties": {
                    "px": [
                        "font-size",
                        "/^border/",
                        "box-shadow",
                        "/^padding.*$/",
                        "/^margin.*$/",
                        "/^outline/"
                    ]
                }
            }
        ],
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "value",
                    "each",
                    "for",
                    "if",
                    "else",
                    "function",
                    "return",
                    "include",
                    "mixin",
                    "extend",
                    "warn",
                    "use"
                ]
            }
        ]
    }
}
